@import "../../../node_modules/bootstrap/scss/bootstrap.scss";




.col-12 d-flex {
  margin-top: 10vh;
}


#about-vendor-text {
  color: white;
  margin-right: 5vh;
  margin-bottom: 14vh;
  text-align: center;
}

#about-customers-text{
  color: white;
  margin-left: 5vh;
  margin-bottom: 14vh;
  text-align: center;
}

#about-other-text{
  color: white;
  margin-right: 5vh;
  margin-bottom: 14vh;
  text-align: center;
}

#about-us-container {
  margin-top: 5vh;
}

#vendors-row, #customers-row, #others-row {
  box-shadow: 8px 8px 9px -8px black;
} 


#about-vendors-div {
  background-color: #006a71;
  height: 40vh;
  width: 75vw;
}

#customers-row {
  margin-top: 10vh;
}

#about-customers-div {
  background-color: #006a71;
  height: 40vh;
  width: 75vw;
}

#others-row{
  margin-top: 10vh;
}

#about-other-div {
  background-color: #006a71;
  height: 40vh;
  width: 75vw;
}


#about-us-footer {
  margin-top: 5vh;
  margin-bottom: 15vh;
}

#footer-text{
  text-decoration: underline;
  text-decoration-color: #006a71;
}

#div-text-right-1 {
    font-weight: bold;
    color: white;
    margin-right: 24vh;
    margin-top: 3vh;
    text-decoration: underline;
    text-decoration-color: #D3DE32;

}

#div-text-right-2 {
  font-weight: bold;
  color: white;
  margin-right: 19vh;
  margin-top: 3vh;
  text-decoration: underline;
  text-decoration-color: #D3DE32;
}

#div-text-left {
    font-weight: bold;
    color: white;
    margin-left: 22vh;
    margin-top: 3vh;
    text-decoration: underline;
    text-decoration-color: #D3DE32;
}


#vendor-div-img {
    width: 50vh;
}

#customer-div-img {
    width: 55vh;
}

#other-div-img {
    width: 55vh;
}

