#contact-sidebar {
  margin-top:55px;
  height: 100%;
  width:80px;
  background-color:#C9C9C9;
}

#contact-container {
  height: 100%;
  padding-top:2%;

}
#contact{
    margin-top:1vh;
}

#contact-card{
    height:100vh;
    width:170vh;
}
.card-title{
    text-align:center;
}
#button{
    margin-top:10vh;
}