@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Quicksand:wght@500&display=swap');

.bl-abril-text {
    font-family: Abril Fatface;
    color: #000000;
    font-size: 70px;
}

//home card
.hover-over {
    cursor: pointer;
}

.custom-card {
    height: 200px;
    border: 4px solid rgba(1, 105, 74, 0.692);
    border-radius: 20px;
    background-color:rgba(211, 255, 242, 0.692);
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 1000;
    font-size: 20px;
    filter: drop-shadow(0mm 1mm .5mm rgba(0, 0, 0, 0.432));
}

.rating {
    margin-left: 140px;
    margin-bottom: 30px;
    margin-right: 10px;
    background-image: url('https://i.giphy.com/media/cNZqrH5IzOG0xrlWks/giphy.webp');
    background-size: contain;
}

.tags {
    margin-left: 140px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.invisible1 {
    color: rgba(211, 255, 242, 0.001);
}

.name-margin {
    margin-left: 136px;
    margin-top: 20px;
}
.name {
    border: 3px solid rgba(0, 116, 81, 0.322);
    background-color:rgba(83, 255, 203, 0.459);
    border-radius: 20px;
}

.card-photo {
    position: absolute;
    height: 150px;
    width: 120px;
    margin-top: 20px;
    border-radius: 10px;
    filter: drop-shadow(0mm 1mm .5mm rgba(0, 0, 0, 0.432));
}
//done with home card

.bl-small-abril-text {
    font-family: Abril Fatface;
    color: #000000;
    font-size: 40px;
}

.curved {
    border-radius: 10px;
}

.input {
    background-color: rgba(196, 196, 196, 0.3);
    width: 400px;
}

.button {
    border: 1px solid black;
    border-radius: 20px !important;
    background-color: rgba(248, 180, 0, 1) !important;
    filter: drop-shadow(0mm 1mm .5mm rgba(0, 0, 0, 0.432));
}

.space {
    width: 20px;
}

.spacing-150 {
    height:150px;
}

.spacing-100 {
    height:100px;
}

.spacing-50 {
    height: 50px;
}

.h-3 {
    height:50px;
}

@media screen and (max-width: 540px) {
    .bl-abril-text {
        font-size: 30px;
    }
}

@media screen and (min-width: 1104px) {
    .mobile-off {
        padding-top: 70px;
        display: relative !important;
    }
    .mobile-on {
        display: none;
        padding: 10px;
    }

    // .custom-card {
    //     margin: 20px;
    // }
}

@media screen and (max-width: 1104px) {
    .mobile-off {
        display: none !important;
    }
    .mobile-on {
        display: relative;
        padding: 10px;
    }
}

@media screen and (max-width: 464px) {
    .image2 {
        width: 360px;
    }
}


// carousel
.icon-cards {
    position: relative;
      width: 60vw;
      height: 40vw;
    max-width: 380px;
    max-height: 250px;
    margin: 0;
    color: white;
      perspective: 1000px;
    transform-origin: center;
  
      // This is the element that rotates with the animation
  
      &__content {
          position: absolute;
          width: 100%;
          height: 100%;
      transform-origin: center;
          transform-style: preserve-3d;
          transform: translateZ(-30vw) rotateY(0);
          animation: carousel 40s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
      
      &.step-animation {
        animation: carousel 8s infinite steps(1) forwards;
      }
      }
  
      // Individual cards
  
      &__item {
          position: absolute;
          top: 0;
          left: 0;
      right: 0;
      bottom: 0;
          width: 60vw;
          height: 40vw;
      max-width: 380px;
      max-height: 250px;
      box-shadow: 0 5px 20px rgba(0,0,0,.1);
          border-radius: 6px;
      transform-origin: center;
  
          &:nth-child(1) {
              background: #FDD94F;
              transform: rotateY(0) translateZ(35vw);
          }
  
          &:nth-child(2) {
              background: #F87949;
              transform: rotateY(120deg) translateZ(35vw);
          }
  
          &:nth-child(3) {
              background: #FBAB48;
              transform: rotateY(240deg) translateZ(35vw);
          }
      }
  }
  
  // Carousel animation
  
  @keyframes carousel {
      0%,  17.5%  { transform: translateZ(-35vw) rotateY(0); }
      27.5%, 45%  { transform: translateZ(-35vw) rotateY(-120deg); }
      55%, 72.5%  { transform: translateZ(-35vw) rotateY(-240deg); }
      82.5%, 100% { transform: translateZ(-35vw) rotateY(-360deg); }
  }
  
  
  // Demo only
  // ----------------------------------------------