#user-register-div {
  border-top: 4px solid rgba(0, 68, 69, 0.79);
  border-bottom: 4px solid rgba(0, 68, 69, 0.79);
  border-left: 4px solid rgba(0, 68, 69, 0.79);
  border-right: 4px solid rgba(0, 68, 69, 0.79);
  margin-top: 5vh;
  border-radius: 1vh;
  margin-right: 0vh;
  width: 50vw;
  height: 70vh;
  background-color: #006a71;
  box-shadow: 8px 8px 9px -8px black;
}

#foodya-register {
  margin-top: 3vh;
  margin-left: 31vh;
  color: white;
  text-decoration: underline;
  text-decoration-color: #d3de32;
  font-size: 10vh;
  font-family: Pacifico;
}

#register-user-div-input {
  text-align: center;
  margin-left: 32vh;
  margin-bottom: 13vh;
}

#user-email-label,
#user-name-label,
#user-password-label {
  font-size: 3vh;
  padding: 1vh;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #d3de32;
}

#user-email-input,
#user-name-input,
#user-password-input {
  border-radius: 10px;
  width: 40vh;
}

#reg-btn {
  border: 1px solid black;
  border-radius: 20px !important;
  background-color: rgba(248, 180, 0, 1) !important;
  filter: drop-shadow(0mm 1mm .5mm rgba(0, 0, 0, 0.432));
  margin-top: 2vh;
}

#already-account-container {
  margin-left: -30vh;
}

#already-account-text {
  font-weight: bold;
  color: white;
  text-decoration: underline;
  text-decoration-color: #d3de32;
}

#user-login-button {
  border: 1px solid black;
  border-radius: 20px !important;
  background-color: rgba(248, 180, 0, 1) !important;
  filter: drop-shadow(0mm 1mm .5mm rgba(0, 0, 0, 0.432));
}

// // #already-account-text {
// //   margin-left: 10vh;
// // }

// #user-login-button {}

// // #already-acount-text {
// //   margin-left: 10vh;
// // }

// #truck-wrapper {
//   position: absolute;
//   width: 100%;
// }

// #moving-truck {
//   position: absolute;
//   width: 10vh;
//   z-index: 10;
//   left: -50%;
//   animation: moveTruck 5s ease-in-out frontwards;
//   animation: moveTruck 5s ease-in-out backwards;
// }

// @keyframes moveTruck {
//   0% {
//     transform: translateX(0%);
//     left: 0;
//   }
//   50% {
//     transform: translateX(100%);
//     left: 100%;
//   }
//   100% {
//     transform: translateX(-100%);
//     left: -100%;
//   }
// }

// #moving-img {
//   width: 45vh;
//   height: 30vh;
// }
