
#user-register-div {
    margin-top: 5vh;
    border-radius: 1vh;
    margin-right: 0vh;
    width: 50vw;
    height: 70vh;
    background-color: #006a71;
    box-shadow: 8px 8px 9px -8px black;
};


#foodya-register {
    margin-top: 3vh;
    margin-left: 31vh;
    color: white;
    text-decoration: underline;
    text-decoration-color: #D3DE32;
    font-size: 10vh;
    font-family: Pacifico;
};


#register-user-div-input {
    text-align: center;
    margin-left: 40vh;
    margin-bottom: 13vh;
}

#user-email-label, #user-name-label, #user-password-label {
    font-size: 3vh;
    padding: 1vh;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #D3DE32;
};
